:root {
  --clr-very-dark-violet: #181719;
  --clr-gray: #a9a9a9;
  --clr-light-gray: #828282;
  --clr-accent: #f4f75f;

  --ff-body: "Montserrat", sans-serif;
  --ff-heading: "Lora", serif;
  --ff-logo: "Crimson Pro", serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--ff-body);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  color: #fff;
  background-color: var(--clr-very-dark-violet);
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
main {
  flex: 1;
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/***********/
/* HEADER */
/***********/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.logo {
  font-family: var(--ff-logo);
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.4rem 0.7rem;
  transition: 0.3 ease;
}
.logo:hover,
.logo:focus {
  color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
}

.btn-hamburger {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  padding: 0;
  z-index: 50;
}
.btn-hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.btn-hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.btn-hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.btn-hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--clr-very-dark-violet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;

  visibility: hidden;
  transform: translateX(100%);
  transition: 0.3s ease;
  overflow: hidden;
  z-index: 30;
}
.nav-menu.open {
  visibility: visible;
  transform: translateX(0);
}

.nav-menu li {
  margin-bottom: 3rem;
}
.nav-menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}
.nav-menu a:hover,
.nav-menu a:focus {
  color: var(--clr-accent);
}
/*****************/
/* Hero section */
/*****************/
.hero-section {
  padding: 3rem 0;
  padding-bottom: 7rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-section h1 {
  font-family: var(--ff-heading);
  font-size: clamp(2rem, 5vw, 3rem);
}
.hero-section p {
  max-width: 30ch;
  line-height: 1.4;
}
.read-more-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}
.read-more-container a {
  text-decoration: none;
  color: #fff;
}
.arrow-icon {
  width: 20px;
  height: auto;
}
.arrow-icon path {
  fill: #fff;
}
.read-more-container:hover a {
  color: var(--clr-accent);
  cursor: pointer;
}
.read-more-container:hover .arrow-icon path {
  fill: var(--clr-accent);
  cursor: pointer;
}
/**************************/
/* Card Profile Designer */
/*************************/
.image-card-wrapper {
  position: relative;
}
.card-designer {
  position: absolute;
  bottom: -80px;
  right: 35px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  width: 250px;
  padding: 1rem;
  background-color: var(--clr-very-dark-violet);
  box-shadow: -2px 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card-designer span {
  display: block;
}
.card-designer .title {
  color: var(--clr-light-gray);
}
.card-designer p {
  max-width: 17ch;
}
.footer {
  padding: 1rem 0;
  text-align: center;
  color: var(--clr-gray);
}
.footer a {
  text-decoration: none;
  color: var(--clr-gray);
  transition: color 0.3s ease;
}
.footer a:hover,
.footer a:focus {
  color: var(--clr-accent);
}

@media (min-width: 768px) {
  .btn-hamburger {
    display: none;
  }
  .nav-menu {
    position: relative;
    flex-direction: row;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-menu li {
    margin: 0;
    margin-left: 2rem;
  }

  .hero-section p {
    width: 40ch;
  }
  .content-image-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 60%;
    gap: 45px;
  }
  .card-designer {
    right: 102px;
    bottom: -50px;
    width: 410px;
    padding: 2rem;
    padding-bottom: 3rem;
  }
  .card-designer {
    width: 360px;
    padding: 1.5rem;
  }
  .card-designer p {
    margin-top: 1rem;
  }
}
